<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>App RH</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- HTML5 shim e Respond.js para suporte no IE8 de elementos HTML5 e media queries -->
    <!-- ALERTA: Respond.js não funciona se você visualizar uma página file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>| App RH - UFC 24 |</title>

</head>

<body>

<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">App RH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/funcionarios">Funcionários</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cadastrarFuncionario">Cadastrar Funcionário</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/vagas">
                        Listar Vagas
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href="/cadastrarVaga">
                        Cadastrar Vaga
                    </a></li>

                </ul>
            </div>
        </div>
    </nav>

</header>

<div class="container">

    <h1>Informações do funcionário:</h1>
    <div class="container" th:each="funcionario : ${funcionarios}">

        <br>

        <p>
            <b>Nome:</b> <span th:text="${funcionario.nome}"></span>
        </p>
        <p>
            <b>Data de nascimento:</b> <span th:text="${funcionario.data}"></span>
        </p>
        <p>
            <b>E-mail:</b> <span th:text="${funcionario.email}"></span>
        </p>


        <br> <br>

        <h2>Cadastrar dependentes</h2>

        <form method="post" th:object="${dependentes}">

            <div class="form-group">
                <div class="row">

                    <div class="col">
                        <label for=""><b>Nome:</b> </label> <input type="text" value="" name="nome"
                                                                   class="form-control" placeholder="Nome Completo"
                                                                   required/>
                    </div>


                    <div class="col">
                        <label for=""><b>CPF: </b> </label><input type="text" value="" name="cpf"
                                                                  placeholder="Somente números, sem traçõs ou pontos."
                                                                  class="validate form-control"
                                                                  required/>
                    </div>


                    <br> <br>
                    <div class="col">

                        <div class="form-group">
                            <label for=""><b>Data de nascimento:</b></label> <input type="date" value=""
                                                                                    name="dataNascimento"
                                                                                    class="form-control" required/>
                            <small
                                    class="form-text text-muted"><i>*
                                Dia/Mês/Ano.</i></small>
                        </div>
                    </div>

                </div>


                <button type="submit" class="btn btn-success">Adicionar
                    Dependente
                </button>
        </form>


    </div>

    <th:block th:include="mensagemValidacao"></th:block>
    <br> <br>

    <h2>Dependentes:</h2>

    <br>

    <table class="table table-hover table-responsive w-auto table-striped">
        <thead>
        <tr>
            <th scope="col">Nome do dependente:</th>
            <th scope="col">CPF:</th>
            <th scope="col">Data de nascimento:</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dependente : ${dependentes}">
            <td><span th:text="${dependente.nome}"></span></td>
            <td><span th:text="${dependente.cpf}"></span></td>
            <td><span th:text="${dependente.dataNascimento}"></span></td>
            <td><a class="waves-effect waves-light btn-small"
                   th:href="${(#mvc.url('FC#deletarDependente').arg(0, dependente.cpf)).build()}">
                <button type="button"
                        class="btn btn-danger">Excluir
                </button>
            </a></td>


        </tr>
        </tbody>
    </table>

</div>


<div style="height: 100px;"></div>

<div class="footer-copyright fixed-bottom bg-dark text-center py-3">
		<span class="text-light align-middle">| App RH - UFC 24 | - ©
			2024 Copyright: Todos os direitos reservados</span>
</div>


<!--JavaScript bootstrap-->
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">

</script>
</body>

</html>