<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>App RH</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim e Respond.js para suporte no IE8 de elementos HTML5 e media queries -->
    <!-- ALERTA: Respond.js não funciona se você visualizar uma página file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>| App RH - UFC 24 |</title>

</head>


<body>

<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">App RH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>

                    <li class="nav-item"><a class="nav-link" href="/vagas">
                        Listar Vagas
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href="/cadastrarVaga">
                        Cadastrar Vaga
                    </a></li>

                </ul>
            </div>
        </div>
    </nav>

</header>

<div class="container">

    <h1>Detalhes da vaga:</h1>
    <div th:each="vaga : ${vaga}" class="container">

        <br>

        <p>
            <b>Vaga:</b> <span th:text="${vaga.nome}"></span>
        </p>
        <p>
            <b>Descrição do cargo:</b> <span th:text="${vaga.descricao}"></span>
        </p>
        <p>
            <b>Expira em:</b> <span th:text="${vaga.data}"></span>
        </p>
        <p>
            <b>Salário:</b> R$ <span th:text="${vaga.salario}"></span>
        </p>

        <br> <br>


        <h2>Cadastrar candidato:</h2>

        <th:block th:include="mensagemValidacao"></th:block>

        <br>

        <form method="post" th:object="${candidato}">

            <div class="form-group">
                <div class="row">

                    <div class="col">
                        <label for=""><b>Nome do candidato:</b> </label> <input type="text" value=""
                                                                                name="nomeCandidato"
                                                                                class="form-control"
                                                                                placeholder="Nome Completo" required/>
                    </div>

                    <div class="col">
                        <label for=""><b>RG: </b> </label><input type="text" value="" name="rg"
                                                                 placeholder="Somente números, sem traços ou pontos."
                                                                 class="validate form-control"
                                                                 required/>
                    </div>

                    <div class="col">
                        <label for=""><b>E-mail:</b> </label> <input type="text" value="" name="email"
                                                                     class="form-control"
                                                                     placeholder="exemplo@gmail.com"
                                                                     required/>
                    </div>

                </div>


            </div>

            <button type="submit" class="btn btn-success">Adicionar
                Candidato
            </button>
        </form>


    </div>

    <br> <br>

    <h2>Inscritos:</h2>

    <br>

    <table class="table table-hover table-responsive w-auto table-striped">
        <thead>
        <tr>
            <th scope="col">Nome do candidato:</th>
            <th scope="col">RG:</th>
            <th scope="col">E-mail:</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="candidato : ${candidatos}">
            <td><span th:text="${candidato.nomeCandidato}"></span></td>
            <td><span th:text="${candidato.rg}"></span></td>
            <td><span th:text="${candidato.email}"></span></td>
            <td><a class="waves-effect waves-light btn-small"
                   th:href="${(#mvc.url('VC#deletarCandidato').arg(0, candidato.rg)).build()}">
                <button type="button"
                        class="btn btn-danger">Excluir
                </button>
            </a></td>
        </tr>


        </tbody>
    </table>


</div>


<div style="height: 100px;"></div>

<div class="footer-copyright fixed-bottom bg-dark text-center py-3">
		<span class="text-light align-middle">| App RH - UFC 24 | - ©
			2024 Copyright: Todos direitos reservados</span>
</div>


<!--JavaScript bootstrap-->
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">

</script>

</body>


</html>