<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>| App RH - UFC 24 |</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim e Respond.js para suporte no IE8 de elementos HTML5 e media queries -->
    <!-- ALERTA: Respond.js não funciona se você visualizar uma página file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>VagasApp</title>

</head>

<body>



<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">App RH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/vagas">
                         Listar Vagas
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href="/cadastrarVaga">
                         Cadastrar Vaga
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href="/funcionarios">
                         Funcionarios
                    </a></li>

                </ul>
            </div>
        </div>
    </nav>

</header>


<div class="container">

    <h1>Lista de vagas cadastradas</h1>

    <br>

    <table class="table table-hover table-responsive w-auto table-striped">
        <thead>
        <tr>
            <th scope="col">Nome da vaga:</th>
            <th scope="col">Descrição:</th>
            <th scope="col">Salário:</th>
            <th scope="col">Expira:</th>
            <th scope="col"></th>
            <th scope="col">Ações:</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vaga: ${vagas}">
<!--        for para "criar" um link atráves do codigo da vaga -->
            <td><a th:href="${(#mvc.url('VC#detalhesVaga').arg(0, vaga.codigo)).build()}">
                <span th:text="${vaga.nome}"></span></a></td>
            <td><span th:text="${vaga.descricao}"></span></td>
            <td>R$ <span th:text="${vaga.salario}"></span></td>
            <td><span th:text="${vaga.data}"></span></td>
            <td><a th:href="${(#mvc.url('VC#deletarVaga').arg(0, vaga.codigo)).build()}"><button type="button" class="btn btn-danger">Excluir</button></a></td>
            <td><a th:href="${(#mvc.url('VC#editarVaga').arg(0, vaga.codigo)).build()}"><button type="button" class="btn btn-primary">Editar</button></a></td>
            <td><a th:href="${(#mvc.url('VC#detalhesVaga').arg(0, vaga.codigo)).build()}"><button type="button" class="btn btn-success">Adicionar candidato</button></a></td>
        </tr>
        </tbody>
    </table>


    <div style="height: 100px;"></div>

    <div class="footer-copyright fixed-bottom bg-dark text-center py-3">
			<span class="text-light align-middle">| App RH - UFC 24 | - ©
				2024 Copyright: Todos os direitos reservados</span>
    </div>


    <!--JavaScript bootstrap-->
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">

    </script>
</body>

</html>