<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>App RH</title>

    <!-- Bootstrap para o thymeleaf-->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim e Respond.js para suporte no IE8 de elementos HTML5 e media queries -->
    <!-- ALERTA: Respond.js não funciona se você visualizar uma página file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>| App RH - UFC 24 |</title>

</head>

<body>

<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">App RH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>

                    <li class="nav-item"><a class="nav-link" href="/vagas">
                        Listar Vagas
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href="/cadastrarVaga">
                        Cadastrar Vaga
                    </a></li>


                </ul>
            </div>
        </div>
    </nav>

</header>


<div class="container">


    <th:block th:include="mensagemValidacao"></th:block>


    <form method="post">

        <h1>Atualizar vaga</h1>

        <br>

        <div class="form-group">
            <label for=""><b>Nome do cargo:</b> </label> <input type="text" class="form-control" value=""
                                                                name="nome" th:attr="value = ${vaga.nome}" required/>
            <small class="form-text text-muted"><i>* Utilize nomes e
                termos mais utilizados no mercado.</i></small>
        </div>


        <div class="row">

            <div class="col">
                <div class="form-group">
                    <label for=""><b>Data de expiração:</b></label> <input type="date" class="form-control" value=""
                                                                           name="data" th:attr="value = ${vaga.data}"
                                                                           required/><small
                        class="form-text text-muted"><i>* Data em que a vaga
                    expira.</i></small>
                </div>
            </div>
            <div class="col">

                <div class="form-group">
                    <label for=""><b>Salário:</b></label> R$ <input type="number" class="form-control"
                                                                    pattern="^\d+(\.|\,)\d{2}$" value="" name="salario"
                                                                    th:attr="value = ${vaga.salario}" required/><small
                        class="form-text text-muted"><i>* Utilize valores
                    considerando vírgula e ponto.</i></small>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for=""><b>Descrição da vaga:</b></label>
            <textarea class="form-control" name="descricao" maxlength="254" rows="3" th:text="${vaga.descricao}"
                      required></textarea>
            <small class="form-text text-muted"><i>* Breve resumo da
                vaga oferecida..</i></small>
        </div>


        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>


<div style="height: 100px;"></div>

<div class="footer-copyright fixed-bottom bg-dark text-center py-3">
		<span class="text-light align-middle">| App RH - UFC 24 | - ©
			2024 Copyright: Todos os direitos reservados</span>
</div>


<!--JavaScript bootstrap-->
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">

</script>


</body>

</html>